/*Edição da Navbar em si*/



.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 70px;
}
/* Aqui é onde eu edito os itens da navbar, que são de um UL */
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 80px;
    font-size: 20px;
}

.number-highlight{
    color: #d00000;
}

.logo {
    margin-right: 0px ;
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #f48c06 0.36%, #d00000 102.06%);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.05);
}
