.footer {
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
}

.footer-top-left p{
    color: #161616;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(264deg, #f48c06 0.36%, #d00000 102.06%);
    display: flex;
    font-size: 20px;
    max-width: 610px;
    transition: 0.6s ease;
}

.footer-top-left:hover p {
    transform:scale(1.10);
    transition: 0.6s;
}

.footer-top-right{
    display: flex;
    align-items: center;
    gap: 35px;
}

.footer-email-input{
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    background: #32323B;
    padding-right: 80px;
}

.footer-email-input input {
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 18px;
}

.footer-email-input:hover{
    border: 2px solid #fff;
}

.footer-subscribe{
    font-size: 20px;
    padding: 22px 50px;
    border-radius: 50px;
    background: linear-gradient(264deg, #f48c06 0.36%, #d00000 102.06%);
    cursor: pointer;
    transition: 0.3s;
}

.footer-subscribe:hover{
    transform: scale(1.10);
    transition: 0.3s;
}

.footer-bottom{
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.footer-bottom-right{
    display: flex;
    margin-bottom: 50px;
}
.number-highlight{
    background: linear-gradient(270deg, #ff2020 50.41% , #f48c06 90.25% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media(max-width:768px){
    .footer{
        margin: 50px 70px;
    }
    .footer-top{
        flex-direction: column;
        gap: 50px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
}